@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background: #ece6d9;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/* UTILITY CLSSES */
.d-none {
  display: none;
}

.list-move {
  transition: all 1s;
}